.jumbotron{
    background-color: #a2d6f9;
    padding: 20px 20px 20px 20px;
}

.navbar navbar-inverse{
    background-color: #31393c;
}


.id{
    width: 300px;
}

p{
    font-family:'Roboto', sans-serif;
}

.img-project{
    width: 500px;
}

.foot{
    background-color: #cddae2;
    padding:11px 5px 0px 5px;
}

.foot-type{
    font-family:'Roboto', sans-serif;
    color: azure;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 50px;
}

.top{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: larger;
    
}

.introduction{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.project-title{
    margin:7px 0px 2px 0px ;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#435399
}

.project-descri{
    margin: 6px 0px 0px 0px
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color:#879cf1
}

.project-tag{
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color:#c7c7c7
}